<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1> Add a new dog</h1>

      <%= render 'form' %>

      <%= link_to 'Home', dogs_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>